{% extends 'base.html.twig' %}

{% block title %}PHP {% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <h1>Hello PHP </h1>
        <h2> Définition du mot PHP </h2>
        <p>
        <p> Le PHP, pour Hypertext Preprocessor, désigne un langage informatique, ou un langage de script, utilisé principalement pour la conception de sites web dynamiques. Il s'agit d'un langage de programmation sous licence libre qui peut donc être utilisé par n'importe qui de façon totalement gratuite. PHP est le plus souvent couplé à un serveur Apache ou nginx. La dernière version est la 8,1. </p>

        <a href="{{ path('app_home') }}">back</a>
    </div>

{% endblock %}