{% extends 'base.html.twig' %}

{% block title %} Style {% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Hello Style </h1>

        <p>
            CSS : Le CSS (Cascading Style Sheet) est un langage informatique servant à décrire la présentation et le style d’un document HTML et XML. <br>
            JavaScript : C'est un langage de script permettant d'ajouter des fonctionnalités interactives et d’autres contenus dynamiques, comme par exemple le mode Dark Mode.  <br>
            Bootstrap : c'est un Framework CSS.
            Responsive design : c'est une technique d'intégration qui permet d'ajuster l'affichage des pages en fonction de la taille de l'écran

        </p>
        <a href="{{ path('app_home') }}" class="btn btn-info">back</a>
    </div>

{% endblock %}