{% extends 'base.html.twig' %}

{% block title %} CSS {% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <div class="example-wrapper">
        <h1>Hello Style </h1>

        <p>
            CSS : Le CSS (Cascading Style Sheet) est un langage informatique servant à décrire la présentation et le style d’un document HTML et XML. <br>
            JavaScript : C'est un langage de script permettant d'ajouter des fonctionnalités interactives et d’autres contenus dynamiques, comme par exemple le mode Dark Mode.  <br>
            Bootstrap : c'est un Framework CSS.

        </p>
        <a href="{{ path('app_home') }}" class="btn btn-info">back</a>
    </div>

{% endblock %}