{% extends 'base.html.twig' %}

{% block title %}New Bibliographie{% endblock %}

{% block body %}
    <h1>Create new Bibliographie</h1>

    {{ include('bibliographie/_form.html.twig') }}

    <a href="{{ path('app_bibliographie_index') }}">back to list</a>
{% endblock %}
